*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #4682B4;
    color: #FFFFFF;
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

dt {
    font-size: 18px;
    margin-top: 20px;
}

dt.a {
    font-weight: 200;
}

dt.b {
    font-weight: 700;
    margin-left: 10px;
}

dt.c {
    font-weight: 400;
    margin-left: 10px;
}

dt.d {
    background-color: gray;
    width: 550px;
    padding: 5px;
    margin-top: 20px;
    font-weight: bold;
}

li {
    font-weight: 400;
    margin-left: 10px;
}

font {
    margin-left: 10px;
}

/*nav */
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #78c5f1;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: fixed;
}

.logo{
   margin-top: 10px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    margin: 0 5px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
    background: #ffde59;
    text-decoration: none;
    color: #FFFFFF;
}

nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 920px){
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #1c1c1c;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: #ffde59;
    }
    
    body.no-scroll {
    overflow: hidden;
}

}
/*section*/

main {
    padding: 100px;
}

.content {
    text-align: center;
    margin-bottom: 200px;
}

.content h1 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.content h2 {
    font-size: 50px;
    font-weight: bold;
}

.content p {
    font-size: 30px;
    line-height: 1.5;
    margin: 20px;
}

.content iframe {
    max-width: 100%;
}

/*Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer-content {
    margin-bottom: 10px;
}

.politica-button,
.termos-button {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    border-radius: 5px;
}

.politica-button:hover,
.termos-button:hover {
    text-decoration: none;
    color: #fff;
}

footer p {
    font-size: 14px;
    margin-top: 10px;
}

@media screen and (max-width: 920px) {

}
